@charset="utf-8";
*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	border:none;
	font-family:"微软雅黑";
}
.wrap{
	width:100%;
	min-width:1200px;
	background-color:#077dbd;
	overflow:hidden;
}
.top{
	width:100%;
	min-width:1200px;
	height:712px;
	background-color:#ff7979;
}
.top .top-box{
	width:100%;
	min-width:1200px;
	background-color:#f9f7f8;
	overflow:hidden;
}
.top .top-box .logo-box{
	width:1200px;
	height:70px;
	margin:0 auto;
	overflow:hidden;
}
.top .logo-box h1{
	float:left;
	height:48px;
	line-height:48px;
	font-size:24px;
	color:#333;
	background:url(../images/moto-1.jpg) no-repeat left;
	margin:11px 645px 0 0;
	padding-left:56px;
}
.top .logo-box h1 span{
	font-size:30px;
}
.top .logo-box .serach-box{
	float:left;
	width:330px;
	height:44px;
	margin-top:13px;
	background-color:#cbcbcb;
}
.top .logo-box .serach-box form{
	position:relative;
}
.top .logo-box .serach-box form .serach-text{
	width:251px;
	height:36px;
	margin:4px 0 4px 4px;
	padding-left:9px;
	font-size:18px;
	color: #aeaeae;
	background-color:#;
}
.submit{
	width:66px;
	height:44px;
	background:url(../images/moto-2.jpg) no-repeat center;
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
}
.top .banner-box{
	width:100%;
	min-width:1200px;
	height:642px;
	background:url(../images/moto-3.jpg) no-repeat;
	background-size:100% 642px;
	position:relative;
}
.top .banner-box .banner-content{
	position:absolute;
	top:135px;
	left:83px;
}
.top .banner-box .banner-content ul.ul-1 li{
	font-size:38px;
	color:#fff;
	margin-bottom:10px;
}
.top .banner-box .banner-content ul.ul-1 li.li-1{
	line-height:8px;
}
.top .banner-box .banner-content ul.ul-1 li.li-2{
	font-size:16px;
}
.top .banner-box .banner-content ul.ul-1 li.li-5{
	font-size:14px;
	margin-bottom:0;
}
.top .banner-box .banner-content form .content{
	width:130px;
	height:50px;
	font-size:18px;
	color:#3ba9ba;
	margin:34px 0;
}
.top .banner-box .banner-content ul.ul-2{
	overflow:hidden;
}
.top .banner-box .banner-content ul.ul-2 li{
	float:left;
	font-size:14px;
	color:#fff;
	margin-right:14px;
	background:url(../images/moto-4.jpg) no-repeat left;
	padding-left:20px;
}
.top .banner-box .banner-content ul.ul-2 li.li-3{
	margin-right:0;
}
.nav{
	width:100%;
	min-width:1200px;
	height:100px;
	background:#fff;
}
.nav .nav-list{
	width:1200px;
	margin:0 auto;
	position:relative;
}
.nav .nav-list ul{
	float:left;
}
.nav .nav-list ul.left{
	margin-left:49px;
}
.nav .nav-list ul li{
	float:left;
	height:100px;
	line-height:100px;
}
.nav .nav-list ul.left li{
	margin-right:73px;
}
.nav .nav-list ul.left li.li-3{
	margin-right:0;
	background:url(../images/moto-5.jpg) no-repeat center 12px;
}
.nav .nav-list ul li a{
	font-size:18px;
	color:#333;
}
.nav .nav-list ul li:hover a{
	color:#027cbd;
}
.nav .nav-list ul.right{
	margin-left:272px;
}
.nav .nav-list ul.right li{
	margin-right:56px;
}
.nav .nav-list ul.right li.li-6{
	margin-right:0;
}
.nav .nav-list p{
	width:171px;
	height:170px;
	background:url(../images/moto-18.png) no-repeat center;
	position:absolute;
	left:525px;
	top:-28px;
	z-index:2;
}
.moto-360-sport-1{
	width:1200px;
	margin:0 auto;
}
.moto-360-sport-1 .nav-1{
	width:1200px;
	margin:0 auto;
	background:#ededed;
	overflow:hidden;
}
.moto-360-sport-1 .nav-1 p.p-1{
	float:left;
	height:56px;
	line-height:56px;
	margin-left:49px;
}
.moto-360-sport-1 .nav-1 p.p-1 a{
	font-size:18px;
	color:#077dbd;
}
.moto-360-sport-1 .nav-1 ul{
	float:left;
	margin-left:535px;
}
.moto-360-sport-1 .nav-1 ul li{
	float:left;
	height:56px;
	line-height:56px;
	padding:0 25px;
}
.moto-360-sport-1 .nav-1 ul li a{
	font-size:18px;
	color:#333;
}
.moto-360-sport-1 .nav-1 ul li:hover{
	background:#077dbd;
}
.moto-360-sport-1 .nav-1 ul li:hover a{
	color:#f9f7f8;
}
.moto-360-sport-1 .nav-1 ul li.li-1{
	background:#077dbd;
}
.moto-360-sport-1 .nav-1 ul li.li-1 a{
	color:#f9f7f8;
}
.moto-360-sport-1 .nav-1 ul li.li-3{
	padding:0 42px;
}
.moto-360-sport-1 .content-box{
	width:1200px;
	margin:0 auto;
	background:#fff;
	overflow:hidden;
}
.moto-360-sport-1 .content-box .content-bg{
	width:1200px;
	height:630px;
	background:url(../images/moto-6.jpg) no-repeat;
	background-size:100% 100%;
}
.moto-360-sport-1 .content-box .content-bg .content{
	width:510px;
	height:630px;
	background:rgba(0,0,0,0.8);
}
.moto-360-sport-1 .content-box .content-bg .content p.p-1{
	font-size:18px;
	color:#d2d2d2;
	padding:75px 0 60px 0;
}
.moto-360-sport-1 .content-box .content-bg .content p.p-2{
	font-size:38px;
	color:#f9f7f8;
	margin-bottom:42px;
}
.moto-360-sport-1 .content-box .content-bg .content p.p-3{
	font-size:14px;
	color:#666;
	margin-bottom:42px;
}
.moto-360-sport-1 .content-box .content-bg .content p.p-4{
	padding-left:35px;
	background:url(../images/moto-7.jpg) no-repeat left;
}
.moto-360-sport-1 .content-box .content-bg .content p.p-4 a{
	font-size:24px;
	color:#00d2ff;
}
.moto-360-sport-1 .content-box .content-bg .content p.p-4:hover a{
	color:#fff;
}
.moto-360-sport-2{
	width:1200px;
	margin:0 auto;
}
.moto-360-sport-2 .nav-2{
	width:1200px;
	margin:0 auto;
	background:#ededed;
	overflow:hidden;
}
.moto-360-sport-2 .nav-2 p{
	float:left;
	height:56px;
	line-height:56px;
	margin-left:49px;
}
.moto-360-sport-2 .nav-2 p a{
	font-size:18px;
	color:#077dbd;
}
.moto-360-sport-2 .nav-2 ul{
	float:left;
	margin-left:535px;
}
.moto-360-sport-2 .nav-2 ul li{
	float:left;
	height:56px;
	line-height:56px;
	padding:0 25px;
}
.moto-360-sport-2 .nav-2 ul li a{
	font-size:18px;
	color:#333;
}
.moto-360-sport-2 .nav-2 ul li:hover{
	background:#077dbd;
}
.moto-360-sport-2 .nav-2 ul li:hover a{
	color:#f9f7f8;
}
.moto-360-sport-2 .nav-2 ul li.li-2{
	background:#077dbd;
}
.moto-360-sport-2 .nav-2 ul li.li-2 a{
	color:#f9f7f8;
}
.moto-360-sport-2 .nav-2 ul li.li-3{
	padding:0 42px;
}
.moto-360-sport-2 .content-box{
	width:1200px;
	margin:0 auto;
	background:#fff;
	overflow:hidden;
}
.moto-360-sport-2 .content-box .content-bg{
	width:1200px;
	height:630px;
	background:url(../images/moto-8.jpg) no-repeat;
	background-size:100% 100%;
}
.moto-360-sport-2 .content-box .content-bg .content{
	width:510px;
	height:630px;
	background:rgba(0,0,0,0.8);
}
.moto-360-sport-2 .content-box .content-bg .content p.p-1{
	font-size:18px;
	color:#d2d2d2;
	padding:75px 0 60px 0;
}
.moto-360-sport-2 .content-box .content-bg .content p.p-2{
	font-size:38px;
	color:#f9f7f8;
	margin-bottom:42px;
}
.moto-360-sport-2 .content-box .content-bg .content p.p-3{
	font-size:14px;
	color:#666;
	margin-bottom:42px;
}
.moto-360-sport-2 .content-box .content-bg .content p.p-4{
	padding-left:35px;
	background:url(../images/moto-7.jpg) no-repeat left;
}
.moto-360-sport-2 .content-box .content-bg .content p.p-4 a{
	font-size:24px;
	color:#00d2ff;
}
.moto-360-sport-2 .content-box .content-bg .content p.p-4:hover a{
	color:#fff;
}
.moto-360-sport-3{
	width:1200px;
	margin:0 auto;
}
.moto-360-sport-3 .nav-3{
	width:1200px;
	margin:0 auto;
	background:#ededed;
	overflow:hidden;
}
.moto-360-sport-3 .nav-3 p{
	float:left;
	height:56px;
	line-height:56px;
	margin-left:49px;
}
.moto-360-sport-3 .nav-3 p a{
	font-size:18px;
	color:#077dbd;
}
.moto-360-sport-3 .nav-3 ul{
	float:left;
	margin-left:535px;
}
.moto-360-sport-3 .nav-3 ul li{
	float:left;
	height:56px;
	line-height:56px;
	padding:0 25px;
}
.moto-360-sport-3 .nav-3 ul li a{
	font-size:18px;
	color:#333;
}
.moto-360-sport-3 .nav-3 ul li:hover{
	background:#077dbd;
}
.moto-360-sport-3 .nav-3 ul li:hover a{
	color:#f9f7f8;
}
.moto-360-sport-3 .nav-3 ul li.li-3{
	background:#077dbd;
}
.moto-360-sport-3 .nav-3 ul li.li-3 a{
	color:#f9f7f8;
}
.moto-360-sport-3 .nav-3 ul li.li-3{
	padding:0 42px;
}
.moto-360-sport-3 .content-box{
	width:1200px;
	margin:0 auto;
	background:rgba(0,0,0,0.5);
	overflow:hidden;
	overflow:hidden;
}
.moto-360-sport-3 .content-box .content-bg{
	width:1200px;
	height:674px;
	background:#00acc7;
	overflow:hidden;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1{
	float:left;
	width:600px;
	height:337px;
	background:#077dbd;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1 .content-bg-1{
	width:600px;
	height:337px;
	background:url(../images/moto-9.jpg) no-repeat;
	background-size:100% 100%;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1 .content-1{
	width:300px;
	height:337px;
	background:rgba(0,0,0,0.8);
	margin-left:300px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1 .content-1 p{
	margin-left:14px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1 .content-1 p.p-1{
	font-size:18px;
	color:#d2d2d2;
	padding:48px 0 40px 0;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1 .content-1 p.p-2{
	font-size:24px;
	color:#f9f7f8;
	margin-bottom:30px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1 .content-1 p.p-3{
	padding-left:35px;
	background:url(../images/moto-7.jpg) no-repeat left;
	height:24px;
	line-height:24px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1 .content-1 p.p-3 a{
	font-size:18px;
	color:#00d2ff;
}
.moto-360-sport-3 .content-box .content-bg .content-box-1 .content-1 p.p-3:hover a{
	color:#fff;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2{
	float:left;
	width:600px;
	height:337px;
	background:#c600ff;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2 .content-bg-2{
	width:600px;
	height:337px;
	background:url(../images/moto-10.jpg) no-repeat;
	background-size:100% 100%;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2 .content-2{
	width:300px;
	height:337px;
	background:rgba(0,0,0,0.8);
	margin-left:300px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2 .content-2 p{
	margin-left:14px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2 .content-2 p.p-1{
	font-size:18px;
	color:#d2d2d2;
	padding:48px 0 40px 0;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2 .content-2 p.p-2{
	font-size:24px;
	color:#f9f7f8;
	margin-bottom:30px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2 .content-2 p.p-3{
	padding-left:35px;
	background:url(../images/moto-7.jpg) no-repeat left;
	height:24px;
	line-height:24px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2 .content-2 p.p-3 a{
	font-size:18px;
	color:#00d2ff;
}
.moto-360-sport-3 .content-box .content-bg .content-box-2 .content-2 p.p-3:hover a{
	color:#fff;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3{
	float:left;
	width:600px;
	height:337px;
	background:#d0aa59;
	position:relative;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3 .content-bg-3{
	width:600px;
	height:337px;
	background:url(../images/moto-11.jpg) no-repeat;
	background-size:300px 336px;
	position:absolute;
	left:300px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3 .content-3{
	width:300px;
	height:337px;
	background:rgba(0,0,0,0.8);
	position:absolute;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3 .content-3 p{
	margin-left:14px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3 .content-3 p.p-1{
	font-size:18px;
	color:#d2d2d2;
	padding:48px 0 40px 0;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3 .content-3 p.p-2{
	font-size:24px;
	color:#f9f7f8;
	margin-bottom:30px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3 .content-3 p.p-3{
	padding-left:35px;
	background:url(../images/moto-7.jpg) no-repeat left;
	height:24px;
	line-height:24px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3 .content-3 p.p-3 a{
	font-size:18px;
	color:#00d2ff;
}
.moto-360-sport-3 .content-box .content-bg .content-box-3 .content-3 p.p-3:hover a{
	color:#fff;
}
.moto-360-sport-3 .content-box .content-bg .content-box-4{
	float:left;
	width:600px;
	height:337px;
	background:#077dbd;
}
.moto-360-sport-3 .content-box .content-bg .content-box-4 .content-bg-4{
	width:600px;
	height:337px;
	background:url(../images/moto-12.jpg) no-repeat;
	background-size:100% 100%;
}
.moto-360-sport-3 .content-box .content-bg .content-box-4 .content-4{
	width:300px;
	height:337px;
	background:rgba(0,0,0,0.8);
}
.moto-360-sport-3 .content-box .content-bg .content-box-4 .content-4 p{
	margin-left:14px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-4 .content-4 p.p-1{
	font-size:18px;
	color:#d2d2d2;
	padding:48px 0 40px 0;
}
.moto-360-sport-3 .content-box .content-bg .content-box-4 .content-4 p.p-2{
	font-size:24px;
	color:#f9f7f8;
	margin-bottom:30px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-4 .content-4 p.p-3{
	padding-left:35px;
	background:url(../images/moto-7.jpg) no-repeat left;
	height:24px;
	line-height:24px;
}
.moto-360-sport-3 .content-box .content-bg .content-box-4 .content-4 p.p-3 a{
	font-size:18px;
	color:#00d2ff;
}
.moto-360-sport-3 .content-box .content-bg .content-box-4 .content-4 p.p-3:hover a{
	color:#fff;
}
.Specifications-box{
	width:1200px;
	margin:0 auto;
	background:#ff7979;
	overflow:hidden;
}
.Specifications-box .Specifications-bg{
	width:100%;
	height:378px;
	background:url(../images/moto-13.jpg);
	background-size:100% 378px;
	overflow:hidden;
}
.Specifications-box .Specifications-bg p.p-1{
	margin:22px 0 15px 459px;
}
.Specifications-box .Specifications-bg p.p-1 a{
	font-size:36px;
	color:#00acc7;
}
.Specifications-box .Specifications-bg .content-top{
	margin-left:459px;
	overflow:hidden;
}
.Specifications-box .Specifications-bg .content-top ul.left{
	float:left;
	margin-right:50px;
}
.Specifications-box .Specifications-bg .content-top ul li.li-1{
	margin-bottom:8px;
}
.Specifications-box .Specifications-bg .content-top ul li.li-1 a{
	font-size:18px;
	color:#333;
}
.Specifications-box .Specifications-bg .content-top ul li.li-1:hover a{
	color:#fff;
}
.Specifications-box .Specifications-bg .content-top ul li.li-2{
	font-size:14px;
	color:#666;
	margin-bottom:15px;
}
.Specifications-box .Specifications-bg .content-top ul li.li-4{
	margin-bottom:0;
}
.Specifications-box .Specifications-bg .content-top ul.center{
	float:left;
	margin-right:50px;
}
.Specifications-box .Specifications-bg .content-top ul.right{
	float:left;
}
.Specifications-box .Specifications-bg p.p-2{
	width:621px;
	height:2px;
	background:#999;
	margin:25px 0 25px 509px;
}
.Specifications-box .Specifications-bg .content-bottom{
	margin-left:613px;
	overflow:hidden;
}
.Specifications-box .Specifications-bg .content-bottom ul.left{
	float:left
}
.Specifications-box .Specifications-bg .content-bottom ul.right{
	float:left
}
.Specifications-box .Specifications-bg .content-bottom ul li.li-1{
	margin-bottom:8px;
}
.Specifications-box .Specifications-bg .content-bottom ul li.li-1 a{
	font-size:18px;
	color:#333;
}
.Specifications-box .Specifications-bg .content-bottom ul li.li-1:hover a{
	color:#fff;
}
.Specifications-box .Specifications-bg .content-bottom ul li.li-2{
	font-size:14px;
	color:#666;
	margin-bottom:15px;
}
.Specifications-box .Specifications-bg .content-bottom ul li.li-3{
	margin-bottom:0;
}
.Specifications-box .Specifications-bg .content-bottom ul.right li{
	margin-left:55px;
}
.Let-stay-in-touch{
	width:1200px;
	height:128px;
	margin:0 auto;
	overflow:hidden;
	background:#00acc7;
}
.Let-stay-in-touch .left{
	float:left;
	width:600px;
	height:128px;
	text-align:center;
}
.Let-stay-in-touch .left p.p-1{
	font-size:24px;
	color:#fff;
	margin:30px 0 10px;
}
.Let-stay-in-touch .left p.p-2{
	font-size:14px;
	color:#fff;
}
.Let-stay-in-touch .right{
	float:left;
	width:600px;
}
.Let-stay-in-touch .right{
	float:left;
	width:600px;
	height:128px;
}
.Let-stay-in-touch .right form{
	position:relative;
	width:516px;
	height:50px;
	margin:35px 0 10px 42px;
}
.Let-stay-in-touch .right form input.search-text{
	width:516px;
	height:50px;
}
.Let-stay-in-touch .right form input.submit{
	width:80px;
	height:50px;
	background:#999;
	position:absolute;
	top:0;
	right:0;
	color:#fff;
}
.Let-stay-in-touch .right p.p-3{
	font-size:14px;
	color:#fff;
	background:url(../images/moto-14.jpg) no-repeat left;
	padding-left:24px;
	margin-left:42px;
}
.P-M-S-A{
	width:1200px;
	height:300px;
	margin:0 auto;
	background:#fff;
	overflow:hidden;
}
.P-M-S-A div{
	width:300px;
	height:300px;
	float:left;
}
.P-M-S-A div h2{
	margin:28px 0 22px 98px;
}
.P-M-S-A div h2 a{
	font-size:24px;
	color:#000;
}
.P-M-S-A div h2:hover a{
	color:#00f;
}
.P-M-S-A div ul li{
	margin:0 0 6px 98px;
}
.P-M-S-A div ul li.last{
	margin-bottom:0;
}
.P-M-S-A div ul li a{
	font-size:14px;
	color:#666;
}
.P-M-S-A div ul li:hover a{
	color:#00f;
}
.bottom{
	width:100%;
	min-width:1200px;
	height:278px;
	background:#222c30;
	overflow:hidden;
}
.bottom .bottom-content{
	width:1200px;
	height:278px;
	margin:0 auto;
	overflow:hidden;
}
.bottom .bottom-content .left{
	width:600px;
	height:278px;
	float:left;
	overflow:hidden;
}
.bottom .bottom-content .left p.p-1{
	font-size:14px;
	color:#fff;
	background:url(../images/moto-15.jpg) no-repeat left;
	padding-left:37px;
	float:left;
	margin:19px 13px 0 7px;
}
.bottom .bottom-content .left p.p-2{
	font-size:14px;
	color:#fff;
	background:url(../images/moto-16.jpg) no-repeat left;
	padding-left:15px;
	float:left;
	margin:19px 0 0 13px;
}
.bottom .bottom-content .left p.p-3{
	width:150px;
	height:46px;
	background:url(../images/moto-17.jpg) no-repeat;
	margin:75px 0 0 7px;
}
.bottom .bottom-content .left p.p-4{
	font-size:14px;
	color:#999;
	margin:19px 0 0 7px;
}
.bottom .bottom-content .left p.p-5{
	font-size:14px;
	color:#999;
	margin:15px 0 0 10px;
	line-height:30px;
}
.bottom .bottom-content .right{
	width:600px;
	height:278px;
	float:left;
}
.bottom .bottom-content .right p{
	font-size:12px;
	color:#999;
}
.bottom .bottom-content .right p.p-1{
	margin-top:70px;
}
.bottom .bottom-content .right p.p-2{
	margin-top:15px;
}